{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

<div class="comentario" style="position: relative; top: 5%; bottom: 10%;">
    <form method="POST" action="{% url 'apps.publicaciones:editar_comentario' pk=comentario.id %}">
        {% csrf_token %}
        {{ formulario_comentario.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
    
    <a href="{% url 'apps.publicaciones:detalle' pk=comentario.publicacion.id %}" class="btn btn-volver">Volver</a>
</div>

<style>
    .btn-primary, .btn-volver {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        margin-top: 10px;
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-primary:hover, .btn-volver:hover {
        color: #fff;
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>

{% endblock %}
