{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block titulo %}
<title>Inicio de sesión</title>
{% endblock titulo %}

{% block contenido %}
<div class="inicio_sesion" style="position: absolute; top: 15%; margin-bottom: 10%; left: -5%;">
  <form method="post">
    {% csrf_token %}
    <section data-bs-version="5.1" class="form4 cid-tf6M1H8RDD mbr-fullscreen;">
      <div class="container">
        <div class="row content-wrapper justify-content-center align-items-center">
          <div class="col-lg-3 offset-lg-1 mbr-form" data-form-type="formoid">
            <div class="dragArea row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="mbr-section-title mb-4 display-2" style="font-family: 'Arial', sans-serif; white-space: nowrap; margin-top: 5%;">
                  <strong>Iniciar Sesión</strong></h1>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form.as_p }}
                <input type="submit" value="Iniciar sesión" class="btn btn-primary">
              </div>
              {% if form.non_field_errors %}
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-danger mt-3">
                  {{ form.non_field_errors }}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-7 offset-lg-1 col-12">
            <div class="image-wrapper text-center">
              <img class="img-fluid" src="{% static 'css/img/logo_sesion.png'%}" alt="" style="margin-top: 5%; width: 200px; height: auto;">
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<style>
  #id_username,
  #id_password {
    position: relative;
    top: 10px;
    left: 0px;
    width: 300px;
  }
</style>
{% endblock %}



