{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Bolsa de Trabajo</title>
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block contenido %}
<div class="container" style="margin-bottom: 10%;">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center">¡Acerca de Nosotros!</h1>

      <p class="lead text-justify">
        Nuestra plataforma está diseñada para conectar talento y oportunidades laborales en la maravillosa Provincia del
        Chaco.
        Nuestro principal objetivo es facilitar el proceso de búsqueda de empleo, brindando a los postulantes una amplia
        gama
        de ofertas laborales en diferentes sectores y a las empresas, la posibilidad de encontrar candidatos altamente
        calificados
        y comprometidos con el crecimiento y desarrollo de sus proyectos.
      </p>
      <p class="lead text-justify">
        En Búsqueda de Empleos, nos enorgullece ser el puente que une a los profesionales y empresas de nuestra región.
        Creemos en el potencial y la dedicación de los talentos locales y trabajamos arduamente para que cada búsqueda
        de empleo sea exitosa.
        Nuestra misión es impulsar el crecimiento económico y social de la provincia al proporcionar una plataforma
        confiable,
        intuitiva y efectiva que promueva la inserción laboral y contribuya al desarrollo profesional de nuestros
        usuarios.
        Únete a nosotros y comienza hoy mismo tu camino hacia nuevas oportunidades laborales en el Chaco. ¡Juntos
        alcanzaremos el éxito!
      </p>
      
    </div>

  </div>

</div>
</div>
{% endblock %}